body{
    background-color: rgb(2, 10, 36);
    color:rgb(180, 220, 255);
    text-align:center;
    align-items:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size:10vh;
    margin-top:8vh;
    margin-bottom:0px;
}
p{
    font-size:4vh;
    margin-top:0px;
}
#button{
    margin-top:8vh;
    transform: scale(3);
}